.notecard {
  width: 350px;
  height: 200px;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
#notecard_container {
  float: left;
}
#notecard_children_container {
  float: left;
  padding-left: 20px;
}
