body {
  font-family: sans-serif;
}
#controls {
  color: grey;
  border-bottom: 1px solid black;
  vertical-align: middle;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#go_up_one_level {
  vertical-align: middle;
  width: 180px;
  border: 1px dotted black;
  padding: 4px;
  background-color: grey;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.notecard {
  width: 450px;
  height: 300px;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
  background-color: #E0E0E0;
}
.notecard p {
  margin-top: 3px;
}
.notecard h1 {
  padding-top: 0px;
  margin-top: 0px;
}
.focus {
  background-color: #C1FFC1;
}
.focus_child {
  background-color: #F0FFF0;
}
.focus_button {
  border: 1px dotted black;
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 4px;
  width: 50px;
  position: relative;
  top: 10px;
  float: right;
  cursor: pointer;
}
#notecard_container {
  float: left;
}
#notecard_children_container {
  float: left;
  padding-left: 20px;
}
.new_card {
  border: 1px dashed gray;
  margin-top: 10px;
  color: gray;
  cursor: pointer;
}
.new_card h3, .new_card h1 {
  text-align: center;
}
.new_card h1 {
  font-weight: 900;
  font-size: 4em;
  margin: 0px;
}
